doctype html
html
    head
        title ESGPlay
        link(rel='stylesheet',href='../bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet',href='../css/style.css')
    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark
            a.navbar-brand(href='../',style='width: 150px;')
                img(src='https://esgplay.com/assets/images/football/logo.png',width='100%')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExample04', aria-controls='navbarsExample04', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarsExample04.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href='/')
                            | Home 
                            span.sr-only (current)
                    if(session)
                        li.nav-item
                            a.nav-link(href='/dashboard') Dashboard
                    else
                        li.nav-item
                            a.nav-link(href='/login') Login
                    li.nav-item
                        a.nav-link(href='/tournament') Torneos                        
                form.form-inline.my-2.my-md-0
                    input.form-control(type='text', placeholder='Search')

        .container
            != messages('message',locals)
            if(errors)
                each error, i in errors
                    div(class="alert alert-danger") #{error.msg}
            block content
            br
            hr
        footer.footer
            .container
                p.mt-3 ESGPlay UPC - Copyright &copy; 2018
        script(src='../bower_components/jquery/dist/jquery.js')
        script(src='../bower_components/bootstrap/dist/js/bootstrap.js')