extends layout

block content

  .col-12.mb-5.mt-5
    if(session)
      a.btn.btn-primary(href='/tournament/new') Nuevo torneo

    
  .col-lg-8
    nav
      .nav.nav-tabs#nav-tab(role="tablist")
        a.nav-item.nav-link.active#nav-all-tab(data-toggle="tab",href="#nav-all",role="tab",aria-controls="nav-all", aria-selected="true") All tournaments
        a.nav-item.nav-link#nav-upc-tab(data-toggle="tab",href="#nav-upc",role="tab",aria-controls="nav-upc", aria-selected="true") Upcoming tournaments
        a.nav-item.nav-link#nav-las-tab(data-toggle="tab",href="#nav-las",role="tab",aria-controls="nav-las", aria-selected="true") Last Results
    .tab-content#nav-tabcontent
      .tab-pane.fade.show.active#nav-all(role="tabpanel",aria-labelledby="nav-all-tab")
        each val in tournaments
          .now-matchs
            .match-team-left
              span.match-team-logo
                img(src=val.url_to_image, onerror="if (this.src != 'error.jpg') this.src = 'img/torneo-imagen.png';")
              span.match-team-name #{val.name}
            .match-status
              span.match-score #{val.first_day}
              span.match-score #{val.last_day}
            .match-team-right
              span.match-team-name Max. Jugadores: #{val.max_teams}
              span.match-team-logo
                a.btn.btn-success(href="tournament/"+val.id) Entrar
      .tab-pane.fade.show.active#nav-upc(role="tabpanel",aria-labelledby="nav-upc-tab")
      .tab-pane.fade.show.active#nav-las(role="tabpanel",aria-labelledby="nav-las-tab")

    h2.decorated.mt-4
      span Lastest Matches
    .now-matchs
      .match-team-left
        span.match-team-logo
          img(src="img/team-navi.png")
        span.match-team-name NaVi
      .match-status
        span.match-status-vs VS
        span.match-score 16-10
      .match-team-right
        span.match-team-name Astralis
        span.match-team-logo
          img(src="img/team-astralis.jpg")
    .now-matchs
      .match-team-left
        span.match-team-logo
          img(src="img/team-liquid.png")
        span.match-team-name Team Liquid
      .match-status
        span.match-status-vs VS
        span.match-score 16-10
      .match-team-right
        span.match-team-name BIG
        span.match-team-logo
          img(src="img/team-big.png")
    h2.decorated.mt-4
      span Upcoming Tournaments
    each val in tournaments
      .now-matchs
        .match-team-left
          span.match-team-logo
            img(src=val.url_to_image, , onerror="if (this.src != 'error.jpg') this.src = 'img/torneo-imagen.png';")
          span.match-team-name #{val.name}
        .match-status
          span.match-score #{val.first_day}
          span.match-score #{val.last_day}
        .match-team-right
          span.match-team-name #{val.max_teams}
          span.match-team-logo
            a(href="#") Entrar
  .col-lg-4
    
  //- ul
  //-   each val in tournaments
  //-     li
  //-       a(href='/tournament/' + val.id) #{val.name + ' ' + val.description + ' ' + val.first_day + ' ' + val.last_day + ' ' + val.max_teams + ' ' + val.url_to_image}